body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:601px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:601px;
}
#u9 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
}
#u10 {
  position:absolute;
  left:0px;
  top:-2px;
  width:375px;
  height:603px;
}
#u11 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:31px;
  top:12px;
  touch-action:pan-y;
}
#u12_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:425px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:425px;
}
#u14 {
  position:absolute;
  left:2px;
  top:204px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u12_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:425px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:425px;
}
#u16 {
  position:absolute;
  left:2px;
  top:204px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u12_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:425px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:425px;
}
#u18 {
  position:absolute;
  left:2px;
  top:204px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u12_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:425px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:425px;
}
#u20 {
  position:absolute;
  left:2px;
  top:204px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u12_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:425px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:425px;
}
#u22 {
  position:absolute;
  left:2px;
  top:204px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_state5 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u12_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:425px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:425px;
}
#u24 {
  position:absolute;
  left:2px;
  top:204px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:343px;
  top:172px;
  width:32px;
  height:162px;
  overflow:hidden;
}
#u25_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:162px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:170px;
}
#u27 {
  position:absolute;
  left:2px;
  top:77px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:172px;
  width:32px;
  height:162px;
  overflow:hidden;
}
#u28_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:162px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:170px;
}
#u30 {
  position:absolute;
  left:2px;
  top:77px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:fixed;
  left:50%;
  margin-left:-165.5px;
  top:50%;
  margin-top:-107.5px;
  visibility:hidden;
}
#u31_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u31_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:215px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:215px;
}
#u33 {
  position:absolute;
  left:2px;
  top:100px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:288px;
  top:0px;
  width:43px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35 {
  position:absolute;
  left:24px;
  top:153px;
  width:286px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u36 {
  position:absolute;
  left:139px;
  top:558px;
  width:100px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u37 {
  position:fixed;
  left:50%;
  margin-left:-166.5px;
  top:50%;
  margin-top:-197.5px;
  visibility:hidden;
}
#u37_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u37_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u38 {
  position:absolute;
  left:0px;
  top:394px;
  width:332px;
  height:1px;
}
#u39 {
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u40 {
  position:absolute;
  left:1px;
  top:58px;
  width:332px;
  height:1px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:268px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:268px;
}
#u43 {
  position:absolute;
  left:2px;
  top:126px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:23px;
  top:207px;
  width:289px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u45 {
  position:absolute;
  left:286px;
  top:0px;
  width:45px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
}
#u46 {
  position:absolute;
  left:109px;
  top:464px;
  width:160px;
  height:45px;
}
#u47 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:258px;
  top:528px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u49 {
  position:absolute;
  left:109px;
  top:464px;
  width:160px;
  height:45px;
  overflow:hidden;
  visibility:hidden;
}
#u49_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u49_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
}
#u51 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
