body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:600px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:fixed;
  left:50%;
  margin-left:-165.5px;
  top:50%;
  margin-top:-134px;
  visibility:hidden;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:268px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:268px;
}
#u4 {
  position:absolute;
  left:2px;
  top:126px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u5 {
  position:absolute;
  left:300px;
  top:0px;
  width:31px;
  height:35px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:104px;
  top:507px;
  width:167px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
