body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:600px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:600px;
}
#u59 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:203px;
  top:461px;
  width:141px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u61 {
  position:absolute;
  left:29px;
  top:461px;
  width:165px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u62 {
  position:absolute;
  left:28px;
  top:515px;
  width:316px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u63 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-85px;
  visibility:hidden;
}
#u63_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u63_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  font-size:18px;
  color:#FFFFFF;
}
#u65 {
  position:absolute;
  left:2px;
  top:63px;
  width:296px;
  word-wrap:break-word;
}
#u66 {
  position:fixed;
  left:50%;
  margin-left:-142px;
  top:50%;
  margin-top:-74.5px;
  visibility:hidden;
}
#u66_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u66_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:149px;
}
#u68 {
  position:absolute;
  left:2px;
  top:66px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:2px;
}
#u69 {
  position:absolute;
  left:0px;
  top:46px;
  width:284px;
  height:1px;
}
#u70 {
  position:absolute;
  left:2px;
  top:-8px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:2px;
}
#u71 {
  position:absolute;
  left:0px;
  top:98px;
  width:284px;
  height:1px;
}
#u72 {
  position:absolute;
  left:2px;
  top:-8px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:22px;
}
#u73 {
  position:absolute;
  left:15px;
  top:15px;
  width:253px;
  height:22px;
  font-size:18px;
}
#u74 {
  position:absolute;
  left:2px;
  top:3px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:22px;
}
#u75 {
  position:absolute;
  left:15px;
  top:64px;
  width:253px;
  height:22px;
  font-size:18px;
}
#u76 {
  position:absolute;
  left:2px;
  top:3px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:22px;
}
#u77 {
  position:absolute;
  left:16px;
  top:109px;
  width:253px;
  height:22px;
  font-size:18px;
}
#u78 {
  position:absolute;
  left:2px;
  top:3px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:fixed;
  left:50%;
  margin-left:-129px;
  bottom:150px;
  visibility:hidden;
}
#u79_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u79_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:43px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:43px;
  color:#FFFFFF;
  text-align:left;
}
#u81 {
  position:absolute;
  left:2px;
  top:6px;
  width:254px;
  word-wrap:break-word;
}
